<div class="list-group-item"
     [ngClass]="{'list-group-item-success':loveIts>0, 'list-group-item-danger':loveIts<0}">
  <div class="row container d-flex justify-content-between">
    <h2>{{ title }}</h2>
    <p>{{ created_at | date : 'short' }}</p>
  </div>
  <p>{{ content }}</p>
  <button class="btn btn-success" style="margin-right: 10px;" (click)="love()">Love it!</button>
  <button class="btn btn-danger" (click)="dislike()">Don't love it!</button>
</div>
