<div class="list-group">

  <app-post-list-item *ngFor="let post of posts"
                      [title]="post.title"
                      [created_at]="post.created_at"
                      [content]="post.content"
                      [loveIts]="post.loveIts">
  </app-post-list-item>

</div>
